@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/*Body*/
body{
    height: 100vh;
    font-family: 'Space Grotesk';
    overflow: hidden;
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 60vh;
}

#container{
    display: flex;
    margin: 13vh 10vw;
}

#container input {
    height: 7vh;
    font-family: 'Space Grotesk';
    border: 0.3vh solid hsl(270, 3%, 87%);
    color: hsl(278, 68%, 11%);
    font-size: 2.6vh;
    padding-left: 1vw;
    border-radius: 1vh;
}

#container input::placeholder{
    color: hsl(270, 3%, 87%);
}

#container input:focus {
    border: 0.3vh solid hsl(278, 68%, 11%);
}

#container label {
    font-family: 'Space Grotesk';
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size: 1.9vh;
    letter-spacing: 0.075vw;
    padding-bottom: 1vh;
}

#coluna label{
    padding-bottom: 1vh;
}

#container #cartao {
    flex: 50%;
    border: 2px black solid;
}

#container #form{
    flex: 50%;
    border: 2px black solid;
}

#container form {
    width: 30.5vw;
    border: 2px black solid;
}

#coluna #name input, #card-number input {
    width: 30vw;
}

#coluna input {
    margin-bottom: 3vh;
}


#coluna input, #coluna label {
    flex-direction: column;
}

#coluna-dupla, #coluna1, #coluna2 {
    display: flex;
}

#coluna-dupla #coluna1 input {
    width: 6vw;
}

#coluna-dupla {
    flex: 100%;
    height: 10vh;
    margin-bottom: 6vh;
}

#coluna1 {
    display: flex;
    flex-direction: column;
}

#date {
    display: flex;
}

#mm {
    margin-right: 0.8vw;
}

#yy {
    margin-right: 1.5vw;
}

#cvc input{
    width: 15.7vw;
}

#submit {
    flex: 100%;
}

#submit input{
    width: 30vw;
    height: 7.8vh;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    border: none;
}

/*Footer*/
.footer {
    font-size: 11px;
    text-align: center;
    background-color: rgb(127, 255, 212);
}

.footer a {
    color: hsl(228, 45%, 44%);
}